<!DOCTYPE html>
<html>
  <head>
    <title>
      FCC API Projects
    </title>
    
  </head>
  <body>
    <h1>All FCC API Projects</h1>
    
    <ul>
      <li><a href="/api/timestamp">Timestamp</a></li>
    </ul>
  </body>  
</html>