<!DOCTYPE html>
<html>
  <head>
    <title>
      Timestamp
    </title>
    
  </head>
  <body>
    <h1>This is the FCC Timestamp API</h1>
    <p>
      Send in a Unix timestamp or natural date string into the path to receive back a JSON object.
    </p>
  </body>  
</html>